
bin
obj
csx
.vs
edge
Publish
.vscode

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/PublishProfiles
/tools/NuGet.exe
/App_Data
/secrets
/data
/.vs
.secrets
appsettings.json
local.settings.json
